<div class="edit-container">
  <form action="">
    <div class="edit edit-title-container">
      <div class="edit-title">*必填欄位</div>
      <div class="edit-title-text">請輸入你的支出</div>
    </div>
    <div class="edit edit-item-name-container">
      <label for="edit-item-name">名稱*:</label>
      <input type="text" class="edit-item-name" id="edit-item-name">
    </div>
    <div class="edit edit-date-container">
      <label for="edit-date">日期*:</label>
      <input type="date" class="edit-date" id="edit-date">
    </div>
    <div class="edit edit-category-container">
      <label for="edit-category">類別*:</label>
      <select name="edit-category-title" id="edit-category-title">
        <option value="edit-default" selected disabled>Select</option>
        <option value="edit-homebox">家居物業</option>
        <option value="edit-car">交通出行</option>
        <option value="edit-game">休閒娛樂</option>
        <option value="edit-food">餐飲食品</option>
        <option value="edit-other">其他</option>
      </select>
    </div>
    <div class="edit edit-amount-container">
      <label for="edit-amount">金額*:</label>
      <input type="number" class="edit-amount" id="edit-amount">
    </div>
    <button type="submit" class="edit edit-btn">送出</button>
  </form>
</div>