<div class="index index-container">
  <div class="index-category-container">
    <select name="index-category-title" id="category-title">
      <option value="index-default" selected disabled>類別</option>
      <option value="index-homebox">家居物業</option>
      <option value="index-car">交通出行</option>
      <option value="index-game">休閒娛樂</option>
      <option value="index-food">餐飲食品</option>
      <option value="index-other">其他</option>
    </select>
  </div>
  <div class="index totalamount-container">
    <div class="totalamount-title">
      totalAmount:
    </div>
    <div class="totalamount-sum-amount">
      2000
    </div>
  </div>
  <div class="index list-container">
    <div class="list-content">
      <div class="list-content-name">
        <div class="list-img"><i class=" fa-solid fa-house fa-xl"></i></div>
        <div class="list-title">
          <div class="list-container-name">午餐</div>
          <div class="list-container-date">2022/04/05</div>
        </div>
      </div>
      <div class="list-item-amount">60</div>
      <div class="list-feat">
        <div><a href="/edit" class="btn">修改</a></div>
        <div><a href="#" class="btn">刪除</a></div>
      </div>
    </div>
  </div>



  <div class="index create-list-container"><a href="/new" class="btn btn-secondary">新增支出</a></div>
</div>