<div class="select-container">
  <select name="select-variety" id="select-variety">
    <option value="default" selected disabled>類別</option>
    <option value="homebox">家居物業</option>
    <option value="car">交通出行</option>
    <option value="game">休閒娛樂</option>
    <option value="food">餐飲食品</option>
    <option value="other">其他</option>
  </select>
</div>


<div class="total-amount-container">
  <div>
    totalAmount:
  </div>
  <div>
    2000
  </div>
</div>

<div>
  <div><img src="" alt="午餐"></div>
  <div>
    <div>午餐</div>
    <div>2022/04/05</div>
  </div>
  <div>60</div>
  <div>
    <div><a href="#">修改</a></div>
    <div><a href="#">刪除</a></div>
  </div>
</div>

<div><a href="#">新增支出</a></div>