<div class="new-container">
  <form action="/new" method="POST">
    <div class="new new-title-container">
      <div class="new-title">*必填欄位</div>
      <div class="new-title-text">請輸入你的支出</div>
    </div>
    <div class="new new-item-name-container">
      <label for="new-item-name">名稱*:</label>
      <input type="text" class="new-item-name" id="new-item-name">
    </div>
    <div class="new new-date-container">
      <label for="new-date">日期*:</label>
      <input type="date" class="new-date" id="new-date">
    </div>
    <div class="new new-category-container">
      <label for="new-category">類別*:</label>
      <select name="new-category-title" id="new-category-title">
        <option value="new-default" selected disabled>Select</option>
        <option value="new-homebox">家居物業</option>
        <option value="new-car">交通出行</option>
        <option value="new-game">休閒娛樂</option>
        <option value="new-food">餐飲食品</option>
        <option value="new-other">其他</option>
      </select>
    </div>
    <div class="new new-amount-container">
      <label for="new-amount">金額*:</label>
      <input type="number" class="new-amount" id="new-amount">
    </div>
    <button type="submit" class="new new-btn">新增支出</button>
  </form>
</div>